<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Welcome to the Wieser Brothers Plan Room</h1>
      <p class="lead">Here you will find all information and documents related to current projects and bid opportunities, both public and invited.  If at any time you have questions, please email <a href="mailto:bids@wieserbrothers.com?subject=Wieser Brothers Plan Room Inquiry">bids@wieserbrothers.com</a>.  Thank you</p>
    </div>
  </div>
  <div class="row" id="home-tri-nav">
    <div class="col-md-4 text-center">
      <h3>BID OPPORUTNITIES</h3>
      <%= link_to 'View Projects', open_path, class: 'btn btn-primary btn-lg', style: "width:200px;" %>
    </div>
    <div class="col-md-4 text-center">
      <h3>INVITED BID OPPORTUNITIES</h3>
      <%= link_to 'Log In', private_path, class: 'btn btn-primary btn-lg', style: "width:200px;"  %>
    </div>
    <div class="col-md-4 text-center">
      <h3>CURRENT PROJECTS</h3>
      <%= link_to 'Log In', current_path, class: 'btn btn-primary btn-lg', style: "width:200px;"  %>
    </div>
  </div>
  <div class="row" id="disclaimer">
    <div class="col-md-10 col-md-offset-1">
      
      <small><strong>Website Disclaimer:</strong><br />
       Wieser Brothers provides the Plan Room as a tool for our partners and clients organizations with which we conduct our business.  The information found on this website is confidential and cannot be shared without the consent of Wieser Brothers General Contractor, Inc.   It is the responsibility of the user to verify the completeness of all documents viewed or downloaded.  The use of information from the Plan Room is at your discretion, and without liability to Wieser Brothers.</small> 
 
      <small><strong>Email Disclaimer:</strong><br />
      Thank you for registering for the Wieser Brothers Plan Room.  If at any time you have questions or need assistance, please email bids@wieserbrothers.com.   Wieser Brothers provides the Plan Room as a tool for our partners and clients organizations with which we conduct our business.  The information found on this website is confidential and cannot be shared without the consent of Wieser Brothers General Contractor, Inc.   It is the responsibility of the user to verify the completeness of all documents viewed or downloaded.  The use of information from the Plan Room is at your discretion, and without liability to Wieser Brothers.</small>

    </div>



  </div>
</div>

