$headline-font:'Oswald', sans-serif;
$wb-green:rgba(0,87,60, 1);
$wb-green-dark:rgba(5,42,9, 1);
// 0,74,48
$wb-skyblue:#6dd0f7;
// $wb-orange:#ff6914;
$wb-text:lighten(gray,47%);
$wb-txt-color:#808080;
$white:#ffffff;

$wb-green:rgba(0,87,60, 1);
$wb-green-dark:rgba(5,42,9, 1);

$navbar-border-radius:0px;
$navbar-height:50px;
$navbar-default-bg:$wb-green;
$navbar-default-link-color:#fff;
$navbar-default-color:#fff;
$navbar-default-link-hover-color:lighten($wb-green, 30%);


h1, h2, h3 {font-family: $headline-font;}

#home-tri-nav {
  margin-top:60px;
  font-weight:200;

}

.btn-primary {
  background-color:lighten($wb-green, 10%);;
  &:hover {background-color:$wb-green;}
}

#disclaimer {
  margin-top:60px;
  margin-bottom:60px;
}

.content {
  min-height: 80vh;
  background-image:image-url("stock-vector-architecture-background-350617100-light.jpg");
  background-size:cover;
  background-position-y:30%;
  margin-top:-20px;
  padding-top:30px;
}

footer {
  font-family: $headline-font;
  font-size:20px;
  padding:40px 20px;
  min-height:30vh;
  background-color: darken(#f8f8f8, 5%);
  a {color:$wb-green;}
  small {font-size:10px;font-family:helvetica, arial, sans-serif;color:#cdcdcd;margin-top:10px;}

}
//table {border-top:1px solid #fff !important;}
table tr:first-child {border-top:1px solid red;}
table {margin-top:-1px;}