$wb-green:rgba(0,87,60, 1);
$wb-green-dark:rgba(5,42,9, 1);

$navbar-border-radius:0px;
$navbar-height:50px;
$navbar-default-bg:$wb-green;
$navbar-default-link-color:#fff;
$navbar-default-color:#fff;


